<%= form_tag(moments_path, :method => :get, :class => "form-search") do%>
  <%= text_field_tag 'tag', @tag, :class => "input-medium search-query", :placeholder => 'Filter by tags' %>
  <%= button_tag :class => 'btn' do %>
    <i class="icon-search"></i>
  <% end %>
<% end %>

<% @moments.each do |moment| %>
  <div class='moment'>
    <% if moment.photo.present? %>
      <%= render 'photo', :photo => moment.photo %>
    <% elsif moment.video.present? %>
      <%= render 'video', :video => moment.video %>
    <% elsif moment.text.present? %>
      <%= render 'text', :text => moment.text %>
    <% elsif moment.url.blank? && moment.content.present? %>
      <%= moment.content %>
    <% end %>
    <div class='details'>
      <span class='tags'><%= raw moment.tag_list.map { |t| link_to t, moments_path(:tag => t) }.join(', ') %></span>
      <span class='date'><%= link_to I18n.l(moment.created_at, :format => :short), moment_path(moment) %></span>
    </div>

  </div>
<% end %>

<% if @moments.blank? %>
  <% if @tag.present? && @type.present?%>
    <%= "You have no happy moments, for the tag '#{@tag}' and the type #{@type}. Add some! " %>
  <% elsif @type.present? %>
    <%= "You have no happy moments, for the type '#{@type}'. Add some! " %>
  <% elsif @tag.present? %>
    <%= "You have no happy moments, for the tag '#{@tag}'. Add some! " %>
  <% else %>
    <%= "You have no happy moments, yet. Add some!" %>
  <% end %>

<% end %>

<%= form_tag(moments_path, :method => :get, :class => "form-search") do%>
  <%= hidden_field_tag 'tag', @tag, :class => "input-medium search-query" %>
  <%= select_tag 'type', options_for_select(['photo','video','text'], @type), :prompt => 'Filter by moment type  ' %>
  <%= button_tag :class => 'btn' do %>
    <i class="icon-play-circle"></i>
  <% end %>
<% end %>
